<ion-view view-title="">
  <ion-content>

  <div class="row">
  <div class="col col-33 col-offset-33" align="center">
<br><br>

SYSDAT Mobile
<br><br><br><br>  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col col-33 col-offset-33" align="center">

<a class="button button-large button-assertive" >
  Download Activity 
</a><br><br>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col col-33 col-offset-33" align="center" >

<a class="button button-large button-positive" href="#/app/activities" >
  View Activities
</a><br><br>
  </div>
  <div class="col"></div>
</div>


    

  </ion-content>
</ion-view>
